body {
}

.taskListHeader
{
    border-bottom: 1px #ddd solid;
    font-weight: bold;
    font-size: 110%;
    background: #D2D2D2;
}

.taskListRow
{
    font-weight: normal;
}

.confirmDialog {
	padding: 15px 15px 0 15px;
	font-weight: bold;
}

.gridEstiloAlternante
{
    background: #FFFFFF;
}

.TextBoxSetim
{
    margin: 0px;
    padding: 0px;
}